html,
body {
  font-family: 'PT Mono', monospace !important;
  font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Share Tech Mono', monospace;
}

body.light-mode {
  background: #fcf8ec !important;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919 !important;
  color: #fcf8ec;
}
