.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-layout {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-areas: "site-sidebar site-main";
}

.site-sidebar {
  grid-area: site-sidebar;
  box-sizing: border-box;
}

.site-main {
  grid-area: site-main;
  box-sizing: border-box;
  background: #ebebeb;
  position: relative;
  overflow-y: auto;
}

.page-section {
  padding: 60px 0px;
}

.rounded-img {
  display: block;
  margin: 0px auto;
  border-radius: 50%;
}

.sidebar-img-container {
  padding-top: 60px;
  img {
    width: 200px;
    height: 200px;
  }
}
