.main-nav {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 5px;
  font-family: "Share Tech Mono", monospace;
}

.main-nav.active {
  border-bottom: 2px solid #333;
}

.social-icons-list {
  display: flex;
  list-style: none;
  padding: 0px 40px;
  margin: 0px;
  .social-icons-item {
    flex: 1;
    // display: flex;
    // // justify-content: center;
    .social-icons-link {
      font-size: 1.8rem;
    }
  }
}
