.profile-image {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  border: 3px solid #fafafa;
}

.profile-social-icons {
  font-size: 32px;
  padding: 0px 2em;
}
